.dropdown-header {
  font-size: 14px;
  font-weight: normal;
  color: #212529;
  border-bottom: 1px solid #dadde1;
}

.dropdown-item:focus,
.dropdown-item:hover {
  color: #212529;
  background-color: #f0f0f0;
}

.dropdown-menu {
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
}

.navbar-light .navbar-nav .nav-link.active {
  border-radius: 30px;
}

.navbar-toggler:focus {
  box-shadow: none;
}

@media only screen and (max-width: 61.95em) {
  .btn-mt {
    margin-top: 8px;
  }

  .iconUser-ms {
    margin-left: 10px;
  }
}
