.home-wrapper {
  position: relative;
  background-color: #f0f0f0;
  height: 100vh;
  max-width: 100%;
  overflow-x: hidden;
}

.home-header {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 0;
}

.home-description {
  color: #4a4a4a;
  margin-bottom: 0;
  margin-top: 2px;
}

.slick-dots li button:before {
  font-size: 12px !important;
}

.jobs-header {
  font-size: 20px;
  font-weight: 700;
}

.jobs-slider {
  background-color: #f8f9fa;
}

.avatar-city {
  max-width: 50px;
}

.title-job {
  font-size: 16px;
  margin-bottom: 8px;
  width: 130px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.title-city {
  font-size: 16px;
  color: #999;
  margin-bottom: 0;
  width: 130px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.margin-left {
  margin-left: -8px;
}

.shadow-card {
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
}

@media only screen and (max-width: 37.5em) {
  .slick-prev:before,
  .slick-next:before {
    display: none;
  }

  .jobs-header {
    padding-top: 16px;
  }
}

/* Mobile: width < 740px */
@media only screen and (max-width: 739px) {
}

/* Tablet: width >= 740px and width < 1024px*/
@media only screen and (min-width: 740px) and (max-width: 1023) {
}

/* PC: width >= 1024px */
@media only screen and (max-width: 1024px) {
}
